<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>FriendFinder+ Survey</title>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/prettyCheckable.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h1>FriendFinder+ MATCH</h1>
            </div>
        </div>
    </div>

    <div class="container questions">
        <div class="panel panel-default match-panel">

            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis mollitia repellat ratione atque sit
                        sed explicabo sunt rerum. Laboriosam officiis quaerat vero, assumenda nemo veniam quis a nostrum
                        quod non?</p>
                </div>
            </div>

            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ipsum doloremque tempore delectus,
                        ullam perferendis omnis temporibus aliquam voluptatum nesciunt autem officiis, nobis voluptatem ipsa
                        quibusdam mollitia repellat, expedita enim!</p>
                </div>
            </div>

            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dolorum! Velit architecto consequuntur
                        voluptatibus, beatae sunt reiciendis quam. Quos cupiditate repudiandae aut illo at nisi eos non natus
                        aliquid odit.</p>
                </div>
            </div>
            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dolorum! Velit architecto consequuntur
                        voluptatibus, beatae sunt reiciendis quam. Quos cupiditate repudiandae aut illo at nisi eos non natus
                        aliquid odit.</p>
                </div>
            </div>
            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dolorum! Velit architecto consequuntur
                        voluptatibus, beatae sunt reiciendis quam. Quos cupiditate repudiandae aut illo at nisi eos non natus
                        aliquid odit.</p>
                </div>
            </div>
            <div class="question">
                <div class="panel panel-info">
                    <div class="panel-heading">Question 1</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dolorum! Velit architecto consequuntur
                        voluptatibus, beatae sunt reiciendis quam. Quos cupiditate repudiandae aut illo at nisi eos non natus
                        aliquid odit.</p>
                </div>
            </div>



        </div>

        <button class="btn btn-success" id="survey-btn">Match NOW!</button>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/static/js/prettyCheckable.min.js"></script>
    <script src="/data/friends.js"></script>
</body>

</html>